<label>{{widget.label}}</label>
{{#cms-sortable-list items=widget.items action="reorder" as |item| }}
  {{#each widget in item.widgets}}
    <div {{bind-attr class=":widget widget.dirtyAndInvalid:cms-invalid"}}>
      <div class="form-control">
        {{cms-widget widget=widget type="control"}}
      </div>
    </div>
  {{/each}}
{{/cms-sortable-list}}
<div class="cms-list-controls">
  <a class="cms-action" {{action 'addItem'}}>{{widget.addLabel}}</a>
</div>
