{{#each sortableItems as |item|}}
  <li class="cms cms-list-item {{if item.item.cmsCollapsed 'cms-collapsed'}}" data-item="{{item.id}}">
    <a class="cms cms-collapse-control cms-icon-marker" href="#" {{action "toggleCollapse" item}}></a>
    <div class="cms cms-item-container">
      {{#if draggable }}<div class="cms cms-icon-drag"></div>{{/if}}
      {{yield item.item}}
      <div class="cms cms-list-actions">
        <a href="#" class="cms cms-list-icon cms-icon-remove" {{action "removeItem" item}}></a>
      </div>
    </div>
  </li>
{{/each}}
