<div class="container no-max-width">
  <form name="contentForm" class="cms-form" {{action "save" on="submit"}}>
    <div class="widget meta">
      <div class="form-control"><h2>Create {{model.label}}</h2></div>
      <div class="preview"><h2>Preview {{model.label}}</h2></div>
    </div>

    {{#each field in model.fields}}{{cms-widget field=field entry=model.entry}}{{/each}}

    <div class="controls">
      <button class="button">Create {{model.label}}</button>
    </div>
  </form>
</div>