<div class="container no-max-width">
  <form name="contentForm" class="cms-form" {{action "save" on="submit"}}>
    <div class="widget meta">
      <div class="form-control"><h2>Edit {{collection.label}}</h2></div>
      <div class="preview"><h2>Preview {{collection.label}}</h2></div>
    </div>

    {{#each field in collection.fields}}
      <div class="widget">
        <div class="form-control">
          {{cms-widget-control field=field}}
        </div>
        <div class="preview">
          {{cms-widget-preview field=field}}
        </div>
      </div>
    {{/each}}

    <div class="controls">
      <button class="button">Save {{collection.label}}</button>
    </div>
  </form>
</div>