<div class="cms cms-content">
  {{#cms-entry-form action="save"}}
    {{#each widget in widgets}}
      <div class="cms cms-widget">
        <div class="cms cms-control">
          <label class="cms cms-label">{{widget.label}}</label>
          {{cms-widget widget=widget type="control"}}
        </div>
        <div class="cms cms-preview">
          {{cms-widget widget=widget type="preview"}}
        </div>
      </div>
    {{/each}}
  {{/cms-entry-form}}
</div>
<div class="cms cms-navbar-bottom">
  <div class="cms cms-right-menu">
    <ul class="cms cms-inline-list">
      <li class="cms cms-li"><a href="#" {{action "save"}}>Save</a></li>
      <li class="cms cms-li"><a href="#" {{action "toggleSidebar"}}>More</a></li>
    </ul>
  </div>
</div>
