<div class="cms cms-content">
  {{#cms-entry-form action="save"}}
    {{#each widget in widgets}}
      <div class="cms cms-widget">
        <div class="cms cms-control">
          <label class="cms cms-label cms-text">{{widget.label}}</label>
          {{cms-widget widget=widget type="control"}}
        </div>
        <div class="cms cms-preview">
          {{cms-widget widget=widget type="preview"}}
        </div>
      </div>
    {{/each}}
  {{/cms-entry-form}}
</div>
<div class="cms cms-navbar-bottom cms-text">
  <div class="cms cms-left-menu">

  </div>
  <div class="cms cms-right-menu">
    <ul class="cms cms-inline-list">
      <li class="cms cms-li"><a class="cms-link" href="#" {{action "toggleActions"}}>Action</a></li>
      <li class="cms cms-li"><a class="cms-link" href="#" {{action "toggleSidebar"}}>Settings</a></li>
    </ul>
  </div>
</div>
<div class="cms cms-actionbar cms-text {{if actionsOpen 'cms-open' 'cms-closed'}}">
  <div class="cms cms-left-menu">
    {{#if saving}}
      <span class="cms-message">Saving {{collection.label}}...</span>
    {{/if}}
    {{#if isInvalid}}
      <span class="cms-message">Can't save until all fields have been filled out correctly.</span>
    {{/if}}
  </div>
  <div class="cms cms-right-menu">
    <ul class="cms cms-inline-list">
      <li class="cms cms-li"><a class="cms-action" href="#" {{action "save"}}>Publish</a></li>
      <li class="cms cms-li"><a class="cms-action" href="#" {{action "Delete"}}>Delete</a></li>
    </ul>
  </div>
</div>
